*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{  
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: space-between;
}
.logo{
    padding-left: 20px;
}
header a{
    text-decoration: none;
    color: gray;
    padding: 0 20px 0 20px;
}
.left-nav, .right-nav{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
button{
    background-color: #0061ff;
    padding: 10px 15px;
    color: white;
    border: none;
}
.text {
    line-height: 25px;
}

.text > button{
    margin: 30px 0 30px 0;
}
li{
    list-style: inside;
}
img{
    max-width: 100%;
}

.text > i{
    padding-top: 100px;

}
.circle{
    display: inline;
    padding-right: 40px;
}
.circle > i{
  color: gray;
}

.container-large{
    width: 1200px;
    margin: 0 auto;
 }
 .bgc-blue{
    background-color: #b4d0e7;
 }
 .container-large > h1{
    font-size: 5em;
    text-align: start;
    padding-top: 75px;
 }
 body{
    font-family: 'Open Sans', sans-serif;

 }
.presentation{
    display: flex;
    padding-top: 60px;
}
.text{
    height: 400px;

    flex-basis: 30%;
}
.img{
    flex-basis: 70%;
      height: 400px;

}
.container-small{
    width: 1000px;
    margin: 0 auto;
}

h2{
    padding-top: 130px;
    font-size: 2.5em;
}

.fatt{
    padding: 50px 0px 50px 0;
}
.payment-plan{
    display: flex;
    gap: 50px;
    height: 900px;
}
.payment-box{
    flex-basis: calc(100% / 3);
    border: 1px solid gray;
    
}
.title-section{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px 0 10px 0;
}
.title-section > i{
    padding-right: 5px;
}
.payment-content{
    padding: 10px 20px;
}
.payment-content > h3{
padding: 20px 0 15px 0;
}

.price{
    font-weight: bolder;
}
.duration{
    color: gray;
    margin-bottom: 30px;
    margin-top: 10px;
}
.descr-plan{
    display: flex;
    flex-direction: column;
    line-height: 21px;
}
.row{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.plan-text{
    padding-left: 5px;
}

.button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button > button{
   height: 100%;
   width: 100%;
}

.contact{
    border: 2px solid black;
    margin-top: 50px;
    height: 200px;
}
.row > i{
    align-self:baseline;
}

.team{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 10px 0 10px 0;
}

.partner-box{
    display: flex;
    height: 400px;
    margin-top: 100px;
}
.img-partner{
    flex-basis: 60%;
    border: 2px solid black;
}
.text-partner{
    flex-basis: 40%;
    border: 2px solid black;
}

.funct{
    display: flex;
    flex-basis: calc(100% / 3);
    flex-wrap: wrap;
    margin-top: 50px;
}

.funct-col{
    flex-basis: calc(100% / 3);
    height: 200px;
    border: 2px solid black;
}

#w-60{
    width: 60%;
    line-height: 50px;
}
.more{ 
     padding: 80px 0 80px 0;
}

.affiliates{
    display: flex; 
    flex-wrap: wrap;
     height: 200px;
}
.af-box{
    flex-basis: calc(100% / 3);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.af-desc{
flex-basis: calc(100% / 3);
border: 2px solid black;
}
.af-logo{
    flex-basis: 50%;
    height: 50%;
    border: 2px solid black;
}

.trial{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 30px 0 90px 0;
    justify-content: space-between;
}

.trial > h2{
    flex-basis: 50%;
    
}

.trial > button{
    padding: 10px 40px;
    border: none;
    margin-top: 20px;
    background-color: white;
}

.question{
    border-bottom: 1px solid gray;
    padding: 30px 0 30px 0;
}

.question-box{
    margin: 60px 0 120px 0;
    border-top: 1px solid gray;
}
.footer-nav{
    display: flex;
    padding-top: 30px;
}
.col{
    flex-basis: 20%;
    height: 500px;
    border: 2px solid rgb(240, 235, 235);
}
footer{
    background-color: black;
}
.language{
    height: 200px;
    margin-top: 20px;
}
.payment-content > .bord-top{
    border-top: 1px solid grey;
    width: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}
h4{
    margin-bottom: 20px;
}

.fa-check{
    color: blue;
}

