*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{  
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: space-between;
}
.logoh{
    padding-left: 20px;
}
header a{
    color: gray;
    padding: 0 20px 0 20px;
}
.left-nav, .right-nav{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
button{
    background-color: #0061ff;
    padding: 10px 15px;
    color: white;
    border: none;
}
.text {
    line-height: 25px;
}
.text > button{
    margin: 30px 0 30px 0;
}
img{
    max-width: 100%;
}
.text > i{
    padding-top: 100px;
}
.circle{
    display: inline;
    padding-right: 40px;
}
.circle > i{
  color: gray;
}
.container-large{
    width: 1200px;
    margin: 0 auto;
 }
 .bgc-blue{
    background-color: #b4d0e7;
 }
 .container-large > h1{
    font-size: 4.5em;
    text-align: start;
    padding-top: 75px;
    font-weight: 800;
 }
 body{
    font-family: 'Open Sans', sans-serif;
 }
.presentation{
    display: flex;
    padding-top: 60px;
}
.text{
    height: 400px;
    flex-basis: 30%;
}
.img{
    flex-basis: 70%;
      height: 400px;
}
.container-small{
    width: 1000px;
    margin: 0 auto;
}
.container-small > h2{
    padding-top: 130px;
    font-size: 2.5em;
}
.fatt{
    padding: 50px 0px 50px 0;
}
.payment-plan{
    display: flex;
    gap: 50px;
    height: 1000px;
}
.payment-box{
    flex-basis: calc(100% / 3);
    border: 1px solid gray;
}
.title-section{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px 0 10px 0;
}
.title-section > i{
    padding-right: 5px;
}
.payment-content{
    padding: 10px 20px;
}
.payment-content > h3{
    padding: 20px 0 15px 0;
}

.price{
    font-weight: bolder;
}
.duration{
    color: gray;
    margin-bottom: 30px;
    margin-top: 10px;
}
.descr-plan{
    display: flex;
    flex-direction: column;
    line-height: 21px;
}
.row{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.plan-text{
    padding-left: 5px;
}
.button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button > button{
   height: 100%;
   width: 100%;
}
.contact{
    border: 1px solid black;
    margin-top: 50px;
}
.contact-box{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
.right-contact > button{
    padding-left: 30px;
    padding-right: 30px;
}
.left-contact > h2{
    padding-bottom: 20px;
}
.left-contact > h3{
    padding-bottom: 40px;
}
.right-contact{
    text-align: center;
    width: 30%;
}
.left-contact > p{
    margin-bottom: 20px;
    margin-top: 40px;
}
.text-partner > button{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.text-partner > p{
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row > i{
    align-self:baseline;
}
.team{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 10px 0 10px 0;
}
.partner-box{
    display: flex;
    margin-top: 140px;
}
.img-partner{
    flex-basis: 60%;
}
.text-partner{
    flex-basis: 40%;
    padding: 40px 30px;
    margin-left: 20px;
}
.funct{
    display: flex;
    flex-basis: calc(100% / 3 - 15px);
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 15px;
}
.funct-col{
    flex-basis: calc(100% / 3 - 10px);
    padding: 0 15px 0 15px;
}
.funct-col > p{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 22px;
}
#w-60{
    width: 60%;
    line-height: 50px;
}
.more{ 
     padding: 80px 0 80px 0;
}

.affiliates{
    display: flex; 
    flex-wrap: wrap;
}
.af-box{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}
.af-desc{
    flex-basis: calc(100% / 3);
    padding: 30px 23px;
    background-color: #f5f5f5;
}
.af-logo{
    flex-basis: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill svg {
     fill: rgb(255, 255, 255);
    max-width: 50%;
}
.bgc-azure > svg path{
    width: 200px;
    fill: white;
}
.bgc-red-tops > svg path{
    fill: white;
}
.bgc-blackblue{
    background-color: #0d2481;
}
.bgc-yellow{
    background-color: #ffd830;
}
.bgc-grey{
    background-color: #b4d0e7;
}

.bgc-azure{
    background-color: #0093ce;
}
.bgc-green{
    background-color: #a2d39b;
}
.bgc-mar{
    background-color: #61082b;
}
.bgc-red, .bgc-red-tops{
    background-color: #ff1c1c;
}
.bgc-red > svg path{
  fill: white;

}
.bgc-red{
   background-color:#d5001f;
}
.logo > img{
    height: 80px;
}
.logo > p{
    margin-bottom: 35px;
}

.trial{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 90px 0 90px 0;
    justify-content: space-between;
    align-items: flex-start;
}

.trial > h2{
    flex-basis: 50%;
    font-size: 2.5em;
    color: #61082b;
}

.trial > button{
    padding: 15px 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 1em;
}

.question{
    border-bottom: 1px solid gray;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-box{
    margin: 60px 0 120px 0;
    border-top: 1px solid gray;
}
.footer-nav{
    display: flex;
    padding-top: 100px;
    color: white;
}
.col{
    flex-basis: 20%;
    height: 350px;
}
footer{
    background-color: black;
}
.language{
    height: 100px;
    margin-top: 20px;
    color: gray;
}
 .bord-top{
    border-top: 1px solid grey;
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.left-contact > h4{
    margin-bottom: 20px;
}

.fa-check{
    color: blue;
}
ul {
    list-style-type: none;
}
li{
    padding-top: 20px;
}
.col > h2{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.language > .bord-top{
    width: 10%;
    border-color: white;
}
.language > i{
    color: gray;
    padding-right: 10px;
}
